.admin{
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
    gap: 20px;
    width: 100%;
    height: calc(100vh - 40px);
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__main{
        width: 100%;
        height: 100%;
        &__container{
            margin-top: 10px;
            display: flex;
            height: calc(100vh - 160px);
            width: 100%;
            overflow: auto;
        }
    }
}