.home{
    width: 100vw;
    height: calc(100vh - 80px);
    &__location{
        display: flex;
        padding-top: 50px;
        align-items: center;
        p{
            font-size: 10px;
            font-weight: 400;
            line-height: 11.72px;
            color: #FFE031;
        }
        h4{
            font-size: 14px;
            line-height: 16.41px;
            font-weight: 400;
        }
    }
    &__carousel{
        display: flex;
        justify-content: center;        
        margin-top: 50px;
    }
    &__restaurants{
        justify-content: center;
        gap: 20px;
        width: 100%;
        height: calc(100vh - 350px);
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        overflow: auto;
    }
}