.allOrders{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px);
    &__tittle{
        display: flex;
        justify-content: center;
        width: 100%;
        h1{
           font-size: 15px; 
           font-weight: 400;
           line-height: 17.58px;
           letter-spacing: -0.3px;
           color: #414141;
        }
    }
    &__orders{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: 100%;
        margin-top: 40px;
        overflow: auto;
        &__card{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height:44px ;
            &__left{
                display: flex;
                gap: 10px;
                img{
                    width: 44px;
                    height: 44px;
                    object-fit: contain;
                }
                &__restaurant{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
                &__name{
                    font-size: 14px;
                    font-weight: 400;
                    color: #414141;
                }
                &__price{
                    font-size: 14px;
                    font-weight: 400;
                    color:#A7A7A7 ;
                }
            }
            &__right{
                display: flex;
                height: fit-content;
                &__state{
                    display: flex;
                    align-items: center;
                    gap: 2px;
                    font-size:10px ;
                    font-weight: 400;
                    line-height: 11.72px;
                }
            }
        }
    }
}

.delivered{
    color: #77DF52;
}
.canceled{
    color: #DF5252;
}